 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 body {
   font-family: 'Poppins', sans-serif;
   text-align: center;
   text-transform: uppercase;
 }

 #slider {
    position: relative;
    width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
 }

 #precedent, #suivant {
    font-size: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.685);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
 }

 #precedent {
    left: 0;
 }

 #suivant {
    right: 0;
 }

 #slider:hover #precedent, #slider:hover #suivant {
    opacity: 1;
 }